/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #152a3e;
  text-shadow: none;
}

::selection {
  background: #E9B14C;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-size: 14px;
  background-color: #eeefda;
}

.container {
  margin: 18px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

/* Navigation burger menu setup */
#hamNav label {
  display: inline-block;
  font-size: 60px;
  color: #152a3e !important;
}
#hamItems {
  flex-wrap: wrap;
}
#hamItems {
  display: none;
}
#hamNav input:checked ~ #hamItems {
  display: flex;
  justify-content: center;
}
#hamItems a:hover {
  color: #152A3E;
  text-decoration: none;
}
#hamburger {
  display: none;
}

/* Text Styles */
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'Poppins', sans-serif;
  color: #152A3E;
}

h2 {
  padding: 4px;
}

h3, h6 {
  font-size: 1.80em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 2px 8px;
}

.my-btn {
  background-color: #e9b14c;
  color: #152a3e;
  padding: 15px;
  border-radius: 25px;
  margin: 10px;
  border: 1px solid #152a3e;
  text-decoration: none;
}

.my-btn:hover, a:hover {
  background-color: #F8D697;
  color: #152A3E;
  text-decoration: none;
}

a:visited {
  color: #152a3e;
  text-decoration: none;
}

a {
  padding: 0px 10px;
}

p, li, a {
  font-size: 1em;
}

/* Image properties */
.avatar {
  height: 75px;
  width: 75px;
}

.projects img {
  width: 275px;
  height: auto;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
}

.header-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;
  background-color: #e9b14c;
  width: 100%;
}

/* Projects */
.project-container, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: black solid 1px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;
  padding-top: 20px;
  width: 100%;
}

.projects {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.project-list {
  display: flex;
  flex-flow: column;
}

.project-item {
  padding: 0px 8px 10px 8px;
  border-bottom: black solid 1px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 10px 0px;
}

.project-item-btm {
  padding: 10px 8px 8px 8px;
  margin: 0;
  padding-bottom: 10px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.project-highlight {
  border-radius: 10px;
  padding: 5px 0px;
  background-color: #cac691;
  margin-top: 40px;
  height: 550px;
}

.project-highlight p {
  margin: 15px 3px;
  padding: 3px 10px;
  line-height: 1.8em;
  height: 220px;
}

.project-description {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.project-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  border-bottom: 4px dotted #152a3e;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* About */
.about {
  color: #152a3e;
  background-image: linear-gradient( #f7e8e8, #CAC691);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.about p {
  color: black;
  line-height: 1.8em;
  text-align: justify;
}

.text-container {
  width: 80%;
}

.text-container h4 {
  display: flex;
  justify-content: center;
}

.skills {
  background-image: linear-gradient( #CAC691, #eeefda );
  width: 100%;
}

.contact {
  width: 85%;
  height: auto;
  padding-bottom: 10px;
  background-color: #fff;
}

.fact {
  background-color: #E9B14C;
  color: #152A3E;
  padding: 0px 6px;
}

#fact h5 {
  color: #cac691;
}

#fact p {
  color: #eeefda;
}

.tools {
  color: #152a3e;
  text-align: left;
}

.tools h3, .tools h4 {
  display: flex;
  justify-content: center;
  color: #152a3e;
}

.social {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.review-section {
  color: #152a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
}

.review p {
  text-align: left;
  line-height: 1.8em;
}

.review span {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding-top: 15px;
  padding-left: 10px;
}

footer {
  background-color: #152a3e;
  height: 60px;
  padding-top: 10px;
}

footer p {
  color: #eeefda;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 280px) {
  #hamNav input:checked ~ #hamItems{
    flex-flow: column;
    padding-bottom: 10px;
  }

  #hamNav input:checked ~ #hamItems a {
    padding-bottom: 30px;
  }

  .project-container {
    border: none;
    box-shadow: none;
  }

  .project-item {
    border-bottom: none;
  }

  .about p {
    text-align: left;
  }
}

@media only screen and (min-width: 768px ){
  .header-items {
    flex-direction: row;
    margin: 20px;
  }

  .project-list {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }

  .project-item, .project-item-btm {
    padding: 10px 8px 80px 8px;
    margin: 20px 0px;
    width: 98%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  
  .project-highlight {
    margin: 0px 4px;
    height: 500px;
    padding-bottom: 40px;
  }

  .project-highlight p {
    margin: 15px 30px;
  }

  .about {
    padding: 0px 30px 30px 30px;
  }

  .about-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .fact {
    border-radius: 10px;
    box-shadow: 10px 5px 5px gray;
    padding: 5px 30px;
    margin: 5px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 30px;
  }

  .social ul{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .review-section {
    padding: 30px;
  }

  .review-quote {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .review {
    width: 30%;
    margin: 0px 10px;
  }
}

@media only screen and (min-width: 1200px ){
  html{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  body {
    max-width: 1240px;
  }

  .header-items {
    margin: 20px;
    padding: 0px 65px;
    width: 89%;
  }

  .header-text {
    padding: 20px 10px;
    font-size: 1.25em;
  }

  .avatar {
    height: 150px;
    width: auto;
    padding: 0px 90px;
  }

  /* navigation to hide hamburger*/
  #hamItems {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  #hamItems a {
    width: 100%;
    padding: 0px 45px;
    color: #152A3E;
  }

  #hamNav label, #hamburger {
    display: none;
  }

  h3 {
    font-size: 2.0em;
  }

  h4 {
    font-size: 1.5em;
  }

  .project-highlight p {
    font-size: 1.1em;
    height: 145px;
    line-height: 1.6em;
  }
}




@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff;
    color: #000;
    /* Black prints faster */
    box-shadow: none;
    text-shadow: none;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

